<div ng-include="'views/navbar.html'">
</div>
<div class="body-container">
    <div class="box-container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li class="" data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li class="" data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" style="height: 200px;">
                <div class="item active">
                    <img src="img/carousel/Slide1.jpg" alt="" />
                    <div class="carousel-caption">

                    </div>
                </div>
                <div class="item">
                    <img src="img/carousel/Slide2.jpg" alt="" />
                    <div class="carousel-caption">

                    </div>
                </div>
                <div class="item">
                    <img src="img/carousel/Slide3.jpg" alt="" />
                    <div class="carousel-caption">

                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
        </div>

        <div class="box" redirect="/category/men">
            MEN
            <img src="img/boy.png" class="box-male" />
        </div>
        <div class="box"  redirect="/category/women">
            WOMEN
            <img src="img/women.jpg" class="box-female" />
        </div>
    </div>
</div>