<div>
    <!--Individual product page-->
    <div ng-show="$root.gender==='men'">
        <div class="image-gallery-product" >
            <img id="galleryMainImage" src="img/site-images/gen1/{{product.Catogory}}/{{product.Brand}}/{{product.prod_id}}/{{product.inventory.size[0].color[0].colorId}}/image1.jpeg" />
        </div>

        <div class="image-snapshot" ng-click="changeImageBanner($event,'male');">
            <img id="1" src="img/site-images/gen1/{{product.Catogory}}/{{product.Brand}}/{{product.prod_id}}/{{product.inventory.size[0].color[0].colorId}}/image1.jpeg" />

            <img id="2" src="img/site-images/gen1/{{product.Catogory}}/{{product.Brand}}/{{product.prod_id}}/{{product.inventory.size[0].color[0].colorId}}/image2.jpeg" />

            <img id="3" src="img/site-images/gen1/{{product.Catogory}}/{{product.Brand}}/{{product.prod_id}}/{{product.inventory.size[0].color[0].colorId}}/image3.jpeg" />

            <img id="4" src="img/site-images/gen1/{{product.Catogory}}/{{product.Brand}}/{{product.prod_id}}/{{product.inventory.size[0].color[0].colorId}}/image4.jpeg" />
        </div>
    </div>

    <div ng-show="$root.gender==='women'">
        <div class="image-gallery-product">
            <img id="galleryMainImage" src="img/site-images/gen2/{{product.Catogory}}/{{product.Brand}}/{{product.prod_id}}/{{product.inventory.size[0].color[0].colorId}}/image1.jpeg" />
        </div>
        <div class="image-snapshot" ng-click="changeImageBanner($event,'female');">
            <img id="1" src="img/site-images/gen2/{{product.Catogory}}/{{product.Brand}}/{{product.prod_id}}/{{product.inventory.size[0].color[0].colorId}}/image1.jpeg" />

            <img id="2" src="img/site-images/gen2/{{product.Catogory}}/{{product.Brand}}/{{product.prod_id}}/{{product.inventory.size[0].color[0].colorId}}/image2.jpeg" />

            <img id="3" src="img/site-images/gen2/{{product.Catogory}}/{{product.Brand}}/{{product.prod_id}}/{{product.inventory.size[0].color[0].colorId}}/image3.jpeg" />

            <img id="4" src="img/site-images/gen2/{{product.Catogory}}/{{product.Brand}}/{{product.prod_id}}/{{product.inventory.size[0].color[0].colorId}}/image4.jpeg" />
        </div>
    </div>
    <section class="product-color">
        <div class="bold">Color : </div>
        <div ng-repeat="color in product.inventory.size[0].color"
                style="width:38px;height:38px;background-color:{{color.colorId}};float:left;margin-left: 5px;">
        </div>
    </section>

    <section class="product-size">
        <div class="bold">Size : </div>
        <div ng-repeat="size in product.inventory.size" style="width:38px;height:38px;float:left;margin-left: 5px;border:1px solid #000;text-align:center;display: table;">
            <span style="display: table-cell;vertical-align: middle;" ng-bind="size.sizeId"></span>
        </div>
        </div>
    </section>

    <section class="division clearfix">
        <div class="buy-now">
            BUY NOW
        </div>
    </section>
</div>