<div class="body-container">
    <!--Products Landing page-->
    <div ng-hide="filterObj.filtersClicked">
        <!--Product contents-->
        <section class="center bold">
            <h3 ng-bind="categoryName"></h3>
        </section>

        <section>
            <div class="image-gallery">

            </div>
            <div class="image-snapshot">
                <div>
                    <img />
                </div>
            </div>
        </section>

        <div class="filters-text-container" ng-click="filterObj.filtersClicked=true">
            <div class="filters">
                <span>FILTERS</span>
            </div>
        </div>

        <div ng-repeat="product in products" ng-show="$root.gender==='men'" class="product" ng-click="getProductInfo(product.prod_id);">
            <img ng-src="img/site-images/gen1/{{product.Catogory}}/{{product.Brand}}/{{product.prod_id}}/{{product.inventory.size[0].color[0].colorId}}/image1.jpeg" />

            <div class="center" ng-bind="product.prod_name"></div>
            <div>
                <span class="bold pull-left">
                    Rs. <span ng-bind="product.price"></span>
                </span>
                <span class="pull-right discount-highlight" ng-if="product.discount>0">
                    <span ng-bind="product.discount"></span>% off
                </span>
            </div>
        </div>

        <div ng-repeat="product in femaleProducts" ng-show="$root.gender==='women'" class="product" ng-click="getProductInfo(product.prod_id);">
            <img src="img/site-images/gen2/{{product.Catogory}}/{{product.Brand}}/{{product.prod_id}}/{{product.inventory.size[0].color[0].colorId}}/image1.jpeg" />

            <div class="center" ng-bind="product.prod_name"></div>
            <div>
                <span class="bold pull-left">
                    Rs. <span ng-bind="product.price"></span>
                </span>
                <span class="pull-right discount-highlight" ng-if="product.discount>0">
                    <span ng-bind="product.discount"></span>% off
                </span>
            </div>
        </div>
    </div>
    <div ng-show="filterObj.filtersClicked">
        <!--Filters-->
        <section class="filters-container">
            <div class="filter-options">
                <span ng-click="filterObj.filtersClicked=false">CANCEL</span>
                <span ng-click="applyFilters();">DONE</span>
            </div>
            <ul class="filter-categories" ng-click="chooseFilterCategory($event);">
                <li id="brand">BRAND</li>
                <li id="color">COLOR</li>
                <li id="size">SIZE</li>
                <li id="price">PRICE</li>
            </ul>

            <div ng-switch="filterObj.selectedFilterId">
                <div ng-switch-when="brand">
                    <ul class="filter-categories">
                        <li ng-repeat="item in brands">
                            <label>
                                <input type="checkbox" ng-value="item._id"/>
                                <span ng-bind="item.brand_name"></span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div ng-switch-when="color">
                    <ul class="filter-categories">
                        <li ng-repeat="item in colors">
                            <label>
                                <input type="checkbox" ng-value="item._id"/>
                                <span ng-bind="item.color_name"></span>

                                <span class="pull-right"
                                      style="border:1px solid #000;background-color:{{item.color_hex}}"></span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </div>
</div>