<div>
    <!--Individual product page-->
    <section class="product-image">
        <img id="main-image"/>

        <div>
            <!--<img src="{{pathBaseUrl}}/1.png" />-->
            <!--<img src="{{pathBaseUrl}}/{{gender}}/{{product.Catogory}}/{{product.Brand}}/{{product.prod_id}}/{{product.color_name}}/image1.jpeg"/>-->
        </div>
    </section>

    <section class="product-color">
        <div class="bold">Color : </div>
        <div style="width:38px;height:38px;background-color:#FEF380;float:left;margin-left: 5px;">
        </div>
        <div style="width:38px;height:38px;background-color:#FEF380;float:left;margin-left: 5px;">
        </div>
        <div style="width:38px;height:38px;background-color:#FEF380;float:left;margin-left: 5px;">
        </div>

    </section>

    <section class="product-size">
        <div class="bold">Size : </div>
        <div style="width:38px;height:38px;float:left;margin-left: 5px;border:1px solid #000;text-align:center;display: table;">
            <span style="display: table-cell;vertical-align: middle;">S</span>
        </div>
        <div style="width:38px;height:38px;float:left;margin-left: 5px;border:1px solid #000;text-align:center;display: table;">
            <span style="display: table-cell;vertical-align: middle;">M</span>
        </div>
        <div style="width:38px;height:38px;float:left;margin-left: 5px;border:1px solid #000;text-align:center;display: table;">
            <span style="display: table-cell;vertical-align: middle;">L</span>
        </div>
    </section>

    <section>
        <div class="buy-now">
            BUY NOW
        </div>
    </section>
</div>